@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700;800&display=swap');
@font-face {
  font-family: "Lecherously";
  src: url('fontType/Lecherously-Regular.ttf') format('truetype')
}

.theDiv {
  display: inline-block;
}

.mainPage {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background: #1F1F1F;
  padding: 1px;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}

.landingTextComponent {
  position: relative;
  margin-left: 0px;
  padding-left: 0px;
  left: 150px;
  top: 100px;
  width: 500px;
  font-size: 19px;
  font-weight: 200;
}

.titleText {
  font-family: "Lecherously";
  font-size: 90px;
  letter-spacing: 2px;
  word-spacing: -20px;
  font-weight: 200;
  margin-bottom: 0px;
  padding-bottom: 0px
}

.subTitleText {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: 0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 5px;
}

.titleLine {
  position: absolute;
  width: 379px;
  height: 0px;
  left: 0px;
  top: 135px;
  
  border: 2px solid #DD1C4B;
}

/* .landingText {
  margin-top: 12%;
  margin-left: calc(50% - 320px);
  margin-right: 25%; 
  position: relative;
  z-index: 3; 
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
} */

.sideBar {
  position: fixed;
  height:100vh;
  width: 60px;
  background: #DD1C4B;
  left: -1px;
  top: -1px;
  overflow: hidden;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  z-index: 5;
}

.sideBar:hover {
  width: 200px;
}

.sideBarNavContainer {
  background-color: #DD1C4B;
  height: 630px;
  overflow: auto;
  position: relative;
}

.sideBarNavContainer::-webkit-scrollbar {
  width: 10px; /* Adjust width as desired */
}

.sideBarNavContainer::-webkit-scrollbar-track {
  background-color: #DD1C4B; /* Change track color as desired */
}

.sideBarNavContainer::-webkit-scrollbar-thumb {
  background-color: lightgray; /* Change thumb color as desired */
}


.sideBarUl {
  position: absolute;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  right: 60px;
  width: 90px;
  /* right: 60px;
  width: 90px; */
  top: 50px;
}

.sideBarLi {
  margin-bottom: 30px;
}

.arrowIcon {
  position: absolute;
  right: 15px;
  top: 50%;
}

.readButton {
  position: fixed;
  left: calc(50% - 70px);
  bottom: 20px;
  width: 200px;
  height: 55px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  background: #000000;
  z-index: 25;
  border: none;
  cursor: pointer;
}

.readButton:hover {
  background: gray;
}


.textLogo {
  position: fixed;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 20px;
  width: 75px;
  margin-left: 40px;
  bottom: 25px;
  z-Index: 10;
}
.imgFrameDiv {
  z-index: -2;
}

.theImage {
  position: fixed;
  margin-left: 400px;
  height: 100vh;
  /* width: 100%; */
  max-width: 100%;
}

.imgFadeDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  
  background: linear-gradient(90deg, rgba(97, 15, 45, 0.975) 46.7%, rgba(64, 64, 64, 0) 99.52%);
}

.readingContainer {
  display: flex;
  flex-wrap: wrap;
  height: 99vh;
  z-index: 3;
  margin:0px;
  margin-left: 60px;
  padding:0;
  
}

.bookPane {
  display: relative;
  flex: 3;
  z-index: 3;
  background-color: #1F1F1F;
  height: 100%;
  width: 100%;
  overflow: auto;
  /* padding: 20px 50px 20px 120px; */
}

.bookPane::-webkit-scrollbar {
  width: 10px; /* Adjust width as desired */
}

.bookPane::-webkit-scrollbar-track {
  background-color: #1F1F1F;
}

.bookPane::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

.bookPaneFadeDivContainer {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  pointer-events: none;
  padding-right: 10px;
}

.bookPaneFadeDiv{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #1F1F1F 13%, rgba(31, 31, 31, 0.00) 27%); 
}

.nextPrevButtonContainer {
  display: flex;
  position: fixed;
  width: 120px;
  height: 50px;
  background: transparent;
  z-index: 5;
  /* top: calc(0.89 * 100vh); */
  bottom: calc(100vh * 0.04);
  left: calc(25% + 35px);
}

.nextButton {
  flex: 1;
  background-color: transparent;
  border: none;
  color: white;
  padding-top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.prevButton {
  flex: 1;
  background-color: transparent;
  border: none;
  color: white;
  padding-top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.bookChapter {
  padding: 60px;
  padding-bottom: 0;
}

.bookChapterLine {
  width: 100%;
  height: 0px;
  margin-top:3px; 
  
  border: 2px solid #DD1C4B;
}

.bookChapterTitle {
  padding: 60px;
  padding-top: 0;
  padding-bottom: 0;
}

.bookChapterText {
  padding: 60px; 
}

.chapterParagraph {
  /* background: yellow; */
}

.chapterParagraphSelected {
  background: #A34B4B;
  color: black;
}

.chatPane {
  flex: 2;
  z-index: 3;
  background-color: #610F2D;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.chatPane::-webkit-scrollbar {
  width: 10px;
}

.chatPane::-webkit-scrollbar-track {
  background-color: #610F2D; 
}

.chatPane::-webkit-scrollbar-thumb {
  background-color: lightgray; 
}

.chatContainer {
  display: flex;
  /* background-color: green; */
  padding: 0px;
  padding-top: 25px;
  margin: 0px;
  /* border: 2px solid white; */
}

.chatBotAvatar {
  flex: 0 0 30px;
  height: 30px;
  background-color: gray;
  border-radius: 4px;
  padding-left: 7px;
  padding-top: 3px;
  margin-left: 30px;
}

.chatUserAvatar {
  flex: 0 0 30px;
  height: 30px;
  background-color: whitesmoke;
  border-radius: 4px;
  padding-left: 7px;
  padding-top: 3px;
  margin-left: 30px;
}

.chatBotP {
  flex: 9;
  background-color: #7A3750;
  border-radius: 4px;
  margin: 0px;
  padding: 10px;
  margin-left: 18px;
  margin-right: 40px;
}

.chatUserP {
  flex: 9;
  background-color: blue;
  border-radius: 4px;
  margin: 0px;
  padding: 10px;
  margin-left: 25px;
  margin-right: 40px;
}

.chatQuestionContainer {
  margin-bottom: 10px;
  margin: 20px;
  padding-left: 50px;
}

.chatQuestionButton {
  position: relative;
  left: calc(50% - 150px);
  width: 300px;
  height: 30px;
  background-color: lightblue;
  font-family: 'Montserrat';
  border-radius: 5px;
  margin-bottom: 10px;
}


@media (max-width: 500px) {
  
  .sideBar {
    width: 45px;
  }
  .textLogo {
    margin-left: 25px;
  }
  .bookPane {
    flex-basis: 100%;
    height: 100vh;
  }
  .bookChapter{
    padding-top: 15px;
    padding-left: 6px;
    padding-right: 20px;
    font-size: 20px;
  }
  .bookChapterTitle{
    padding-top: 15px;
    padding-left: 6px;
    padding-right: 20px;
    font-size: 20px;
  }
  .bookChapterText {
    padding: 30px; 
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
  }
  .bookPaneFadeDiv {
    background: linear-gradient(0deg, #1F1F1F 20%, rgba(31, 31, 31, 0.00) 35%);
  }
  .nextPrevButtonContainer {
    /* top: calc(0.82 * 100vh); */
    bottom: 57px;
    left: calc(50% + 45px);
  }
  .readButton {
    left: calc(50vw - 90px);
    bottom: calc(18vh);
    z-index: 3;
  }

  .explanationOverlayContainer {
    max-height: 100%;
    opacity: 1;
    transition: max-height 3s ease-in-out, opacity 3s ease-in-out;
  }
  
  .explanationOverlay {
    position: fixed;
    height: 100vh;
    top: 10vh;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    
    z-index: 9;
    
    border-radius: 28px 28px 0px 0px;
    background: #A8A8A8;
    font-family: "Montserrat";
    transition: max-height 3s ease-in-out, opacity 3s ease-in-out;
  }

  .explanationOverlayTopScreen {

    position: fixed;
    height: 60vh;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    
    z-index: 8;

    background: rgba(0, 0, 0, 0.50);
    transition: bottom 3s ease-in-out, opacity 3s ease-in-out;
  }
  
  .explanationOverlayDescP {
    margin-top: 40px;
    margin-left: 25px;
    width: 150px;
    font-weight: 700;
  }
  
  .explanationOverlayPLine {
    position: absolute;
    right: 15px;
    left: 15px;
    height: 2px;
    
    background-color: #DD1C4B; /* Adjust the color to your preference */
  }
  
  .explanationOverlayPLineBottom {
    position: fixed;
    right: 15px;
    left: 15px;
    height: 2px;
    bottom: 110px;
    
    background-color: #DD1C4B; /* Adjust the color to your preference */
  }

  .explanationOverlayP {
    display: relative;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 400;
    height: 260px;
  }

  
  .landingTextComponent {
    position: relative;
    margin-left: 0px;
    padding-left: 0px;
    left: 15vw;
    width: 75vw;
    font-size: 16px;
    font-weight: 200;
  }
  
  .titleText {
    font-family: "Lecherously";
    font-size: 60px;
    letter-spacing: 2px;
    word-spacing: -20px;
    font-weight: 200;
    margin-bottom: 0px;
    padding-bottom: 0px
  }
  
  .subTitleText {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: -7px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 5px;
  }
  
  .titleLine {
    position: relative;
    width: 379px;
    height: 0px;
    left: 0px;
    top: 0;
    
    border: 0px solid #DD1C4B;
  }

  .imgFadeDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: rgba(97, 15, 45, 0.50);
  }
  
  .theImage {
    /* position: fixed; */
    object-fit: contain;
    margin-left: -650px;
  
    max-width: 600%;
  }
}